@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

html, body{
    min-height: 100vh;
    background-color: white;
}

header{
    margin: -15px -8px;
    padding:2vh;
    background-color: black;
}

header h1{
    font-family: "Passion One", serif;
    font-size: 7em;

    margin: auto;
    color: white;
    text-align: center;
}

header h2{
    font-family: serif;
    font-size: 2em;

    margin: auto;
    color: white;
    text-align: center;
}

header a{
    color: white;
    text-decoration: none;
}

main{
    color: black;
}

header a:hover{
    text-decoration: underline;
}

header p{
    color: white;
    text-align: right;
    font-size: 0.75em;
}

article{
    height: auto;
    color: black;
    margin: auto;
    background-size: cover;
    background-attachment: fixed;
    padding: 20px 0px 20px 30px;
}

article p{
    font-family: "Sriracha", serif;
    line-height: 2.5em;
    font-size: 3em;
    max-width: 600px;
}

article#two{
    color: white;
    background-image: url(../imagens/background001.jpg);
    background-size: 100% 100%;
    background-position: right center;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.219);
}

article#four{
    color: white;
    background-image: url(../imagens/background002.jpg);
    background-size: 100% 100%;
    background-position: right bottom;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.219);
}

article div.imagem{
    margin: 20px 0px;
    max-width: 700px;
    background-color: rgba(129, 129, 129, 0.781);
    background-size: 80% 80%;
    background-attachment: fixed;

    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.219);
}

footer{
    background-color: black;
    height: 60px;
    margin: -8px;
}

footer p{
    padding-top: 15px;
    text-align: center;
    font-size: 1.8em;
    color: white;
}

footer a{
    color: white;
}